* text=auto eol=lf

*.blade.php diff=php linguist-detectable=true
*.php diff=php linguist-detectable=true
*.css export-ignore
*.html export-ignore
*.md export-ignore

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
